<div class="row">
    <div class="col-6 mt-4 mx-auto">
        <form action="/escritorios/edit/{{escritorio._id}}" method="POST">
        <div class="card">
            <div class="card-header">
                Editar un escritorio.
            </div>
            <div class="card-body">
                <p><strong>Nombre fila:</strong> {{fila.name}}</p>
                <p>Use este formulario para agregar un mesón, escritorio o persona que atiende en esta fila.</p>


                <div class="form-group">
                    <label for="number">Número ó nombre del escritorio ó mesón:</label>
                    <input type="number" value="{{escritorio.number}}" id="name" name="number" class="form-control">
                    <small class="form-text text-muted"><strong>Importante:</strong> Se verificá este nombre para atender la fila.</small>
                </div>
                
                <div class="form-group">
                    <label for="description">Descripcion del escritorio:</label>
                    <textarea class="form-control" name="description" id="description" rows="3">{{escritorio.description}}</textarea>
                    <small class="form-text text-muted">Use este campo para describir el mesón o escritorio. También
                        puede agregar el nombre del encargado que atenderá los tickets.</small>
                </div>
            </div>
            <div class="card-footer text-right">
                <div class="form-group">
                    <button type="submit" class="btn btn-primary">
                        Editar Escritorio
                    </button>
                    <a href="/escritorios/{{fila._id}}" class="btn btn-secondary">
                        Cancelar
                    </a>
                </div>
            </div>
        </div>
        </form>
    </div>
</div>